<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'views/sessions/new' %>
<% end %>

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Joia do Saber</title>
</head>
<body>
<div class="container_login">
  <header class="header2">
    <h1>Joia do Saber</h1>
  </header>
  <div id="login_form">
    <h4>Login</h4>
    <%= form_with(model: @user, url: sessions_path) do |form| %>
      <%= form.email_field :email, class: 'fields', placeholder: 'Usuário' %>
      <%= form.password_field :password, class: 'fields', placeholder: 'Senha' %>
      <div id="actions">
        <%= form.submit 'Entrar', id: 'singin'%>
        <a href="#">Esqueci a minha senha!</a>
      </div>
    <% end %>
    <%= link_to "Novo? Criar uma conta!", new_user_path, class: "new" %>
  </div>
</div>
</body>
</html>