<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'views/sessions/new' %>
<% end %>

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Joia do Saber</title>
</head>
<body>
<div class="container_login">
  <header class="header2">
    <h1>Joia do Saber</h1>
  </header>
  <div id="error-messages" class="message-error"></div>
  <div id="success-messages" class="message-success"></div>
  <div id="login_form2">
    <h4>Criar Conta</h4>
    <%= form_for(:user, url: create_user_path, method: :post) do |form| %>
      <%= form.text_field :name, class: 'fields', placeholder: 'Seu nome', id: "username" %>
      <%= form.email_field :email, class: 'fields', placeholder: 'Seu e-mail', id: "email" %>
      <%= form.password_field :password, class: 'fields', placeholder: 'Sua senha', id: "password" %>
      <%= form.password_field :password_confirmation, class: 'fields', placeholder: 'Confirme a senha', id: "password-confirmation" %>
      <div id="actions2">
        <%= form.submit 'Criar conta', id: 'singin' %>
      </div>
    <% end %>
    <%= link_to "Já tem uma conta? Acesse aqui", new_session_path, class: "new" %>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('form').submit(function(e) {
            const csrfToken = $('meta[name="csrf-token"]').attr('content');

            var user = {
                name : $("#username").val(),
                email : $("#email").val(),
                password : $("#password").val(),
                password_confirmation : $("#password_confirmation").val()
            }


            e.preventDefault();

            $.ajax({
                url: '/users/create',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': csrfToken
                },
                data: JSON.stringify({user: user}),
                success: function(data){
                    var divInfo = $('#success-messages');
                    divInfo.html("Usuário criado com sucesso!\n Redirecionando!");
                    divInfo.toggle();
                    setTimeout(function(){
                        window.location.href = "/sessions/new"
                    }, 3000);
                },
                error: function(xhr, status, error){

                    var msgErrors = xhr.responseJSON.map(function(text){
                        return '<p>' + text + '</p>';
                    });
                    var content = msgErrors.join('');
                    var divInfo = $('#error-messages');
                    divInfo.html(content);
                    divInfo.toggle();

                    divInfo.animate({ opacity: 0}, 5000, function (){
                        divInfo.empty().css('opacity', 1).show();
                    });
                }
            });
        });
    });
</script>
</body>
</html>