<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'views/home/style' %>
<% end %>

<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Home - Joia do Saber</title>
</head>
<body>
  <header class="header">
    <div id="logo">
      Joia do Saber
    </div>
    <div id="search">
      <form method="get">
        <input type="text" placeholder="Buscar" id="search_bar">
      </form>
    </div>
    <div id="menu">
      <nav>
        <ul>
          <li><a href="#">Livros</a></li>
          <li><a href="#">Clássicos</a></li>
          <li><a href="#">Concurso</a></li>
          <li><a href="#">Romance</a></li>
          <li><a href="#">Política</a></li>
        </ul>
      </nav>
      <div id="login_nav">
        <a href="#">
          <i class='bx bx-user-circle'></i>
          Login
        </a>
      </div>
    </div>
  </header>
  <div id="banner">
    <div class="overlay">
    <h1>A leitura muda vidas.<br>Mude também a sua!<br></h1>
    <a href="#">Mudar minha vida</a>
    </div>
  </div>
  <div class="promotions">
    <div class="promotion">
      <div class="promotion_image">
        <i class='bx bxs-truck'></i>
      </div>
      <div class="promotion_text">
        <div class="promotion_text_text">
          <span>Frete Grátis</span>
          <p>Oferecemos frete grátis para todo o Brasil.</p>
        </div>
      </div>
    </div>
    <div class="promotion">
      <div class="promotion_image">
        <i class='bx bxs-truck'></i>
      </div>
      <div class="promotion_text">
        <div class="promotion_text_text">
          <span>Frete Grátis</span>
          <p>Oferecemos frete grátis para todo o Brasil.</p>
        </div>
      </div>
    </div>
    <div class="promotion">
      <div class="promotion_image">
        <i class='bx bxs-truck'></i>
      </div>
      <div class="promotion_text">
        <div class="promotion_text_text">
          <span>Frete Grátis</span>
          <p>Oferecemos frete grátis para todo o Brasil.</p>
        </div>
      </div>
    </div>
    <div class="promotion">
      <div class="promotion_image">
        <i class='bx bxs-truck'></i>
      </div>
      <div class="promotion_text">
        <div class="promotion_text_text">
          <span>Frete Grátis</span>
          <p>Oferecemos frete grátis para todo o Brasil.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="brands">
    <h1>Parcerias</h1>
    <div id="frame_image">
      <%= image_tag 'logo amazon.png', alt: 'Logo da amazon'%>
      <%= image_tag 'logo-saraiva-2048.png', alt: 'logo da saraiva'%>
      <%= image_tag 'editora moderna.svg', alt: 'logo da moderna'%>
    </div>
  </div>
  <div id="some_books">
    <h1>Mais vendidos</h1>
    <div class="books_seller">
      <div class="book_seller">
        <div class="book_image">
          <%= image_tag 'book.jpg', alt: "Livro: O senhor dos anéis" %>
        </div>
        <div class="book_description">
          <h4>O Senhor dos Anéis <br>A sociedade do anel</h4>
          <strong>1455 Vendas</strong>
          <p>O volume inicial de O Senhor dos Anéis, lançado originalmente em julho de 1954, foi o primeiro grande épico de fantasia moderno, conquistando milhões de leitores e se tornando o padrão de referência para todas as outras obras do gênero até hoje. A imaginação prodigiosa de J.R.R. Tolkien e seu conhecimento profundo das antigas mitologias da Europa permitiram que ele criasse um universo tão complexo e convincente quanto o mundo real.</p>
        </div>
        <div class="book_button">
          <a href="#"><i class='bx bx-cart'></i>&nbsp;Comprar</a>
        </div>
      </div>
      <div class="book_seller">
        <div class="book_image">
          <%= image_tag 'book.jpg', alt: "Livro: O senhor dos anéis" %>
        </div>
        <div class="book_description">
          <h4>O Senhor dos Anéis <br>A sociedade do anel</h4>
          <strong>1455 Vendas</strong>
          <p>O volume inicial de O Senhor dos Anéis, lançado originalmente em julho de 1954, foi o primeiro grande épico de fantasia moderno, conquistando milhões de leitores e se tornando o padrão de referência para todas as outras obras do gênero até hoje. A imaginação prodigiosa de J.R.R. Tolkien e seu conhecimento profundo das antigas mitologias da Europa permitiram que ele criasse um universo tão complexo e convincente quanto o mundo real.</p>
        </div>
        <div class="book_button">
          <a href="#"><i class='bx bx-cart'></i>&nbsp;Comprar</a>
        </div>
      </div>
      <div class="book_seller">
        <div class="book_image">
          <%= image_tag 'book.jpg', alt: "Livro: O senhor dos anéis" %>
        </div>
        <div class="book_description">
          <h4>O Senhor dos Anéis <br>A sociedade do anel</h4>
          <strong>1455 Vendas</strong>
          <p>O volume inicial de O Senhor dos Anéis, lançado originalmente em julho de 1954, foi o primeiro grande épico de fantasia moderno, conquistando milhões de leitores e se tornando o padrão de referência para todas as outras obras do gênero até hoje. A imaginação prodigiosa de J.R.R. Tolkien e seu conhecimento profundo das antigas mitologias da Europa permitiram que ele criasse um universo tão complexo e convincente quanto o mundo real.</p>
        </div>
        <div class="book_button">
          <a href="#"><i class='bx bx-cart'></i>&nbsp;Comprar</a>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div id="name">
      <strong>&copy;2023&nbsp;</strong>Joia do Saber
    </div>
    <div id="social_networks">
      <i class='bx bxl-instagram'></i>
      <i class='bx bxl-tiktok' ></i>
      <i class='bx bxl-facebook-circle' ></i>
    </div>
  </footer>
</body>
</html>